<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Title }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- >> Pure.css -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-old-ie-min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/blog-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/blog.css">
  <!--<![endif]-->
  <!-- << Pure.css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">

  <link href="{{ .Site.BaseURL }}css/prism.css" rel="stylesheet" />
</head>
<body>

